/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-main: 'PressStart2P';
    --font-family-accent: 'Inter';
    --font-weight-min: "wght" 400;
    --font-weight-max: "wght" 700;
    --font-size-header-title: clamp(3.0625rem, 2.71047rem + 1.502vw, 4.0625rem);
    --font-size-header-text: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --font-size-text-main: 0.875rem;
    --background-image: 
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), 
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), 
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
    --background-color: #fff;
    --themes-main-color: #000;
    --button-color: #fff;
    --heart-main-color: #000;
    --heart-accent-color: red;
}